<!DOCTYPE html>
<html>
    <head>
        <title>Вступ</title>
        <meta charset="utf-8">                   
    </head>
        
    <body>
        <h2>Перелік абітурієнтів</h2>
        
        <ul id="mylist" style="width:150px">
            <li>Руслан Гнатюк</li>
            <li>Анна Крамарчук</li>
            <li>Адам Лисенко</li>
            <li>Ілля Дмитренко</li>
            <li>Наталія Гнатюк</li>
        </ul>

        <p>
          Очікування результатів зовнішнього незалежного очікування 
          дуже нервовий процес для багатьох випускників. 
          Ця тривожність підсилюється на час подачі заяв, 
          коли можна лише сподіватись, що на очікувану 
          пропозицію все ж вдасться пройти.
        </p>

        <p>
          У нашому застосунку ми плануємо реалізувати зручний UI
          для абітурієнта, який буде подавати заявку в університет
          та можливості аналітики свого вступу. Університети будуть
          отримувати лише потрібну кількість заявок завдяки алгоритму,
          який буде враховувати пріоритетності кожної заяви.
        </p>

    </body>
</html>